<div class="scroll-gifs" (mousewheel)="scroll()">
  <div *ngIf="!clicked">
    <div class="gifs">
        <div class="gif" *ngFor="let gif of gifs; let i=index">
          <img (click)="expandGif(i)" [src]="gif.images.downsized.url" alt="gif">
        </div>
    </div>
  </div>

  <div class="expandedGif" *ngIf="clicked">
    <button (click)="closeGif()" class="btn btn-primary button">Close GIF</button>
    <div>
      <img class="clicked" [src]="gifs[currentIndex].images.downsized.url" alt="gif">
    </div>
  </div>
</div>


